@import './../../../css/variables.scss';
/*------------------------------------*\
  #TEAM-INTEGRATION
\*------------------------------------*/

  .att-hti {
    display: inline;
  }





  /*------------------------------------*\
    #INTEGRATION-WIZARD
  \*------------------------------------*/
    @mixin normalFont {
      font-size: 16px;
      line-height: 1.5em;
    }
    @mixin headingFont {
      font-size: 18px;
      line-height: 1.5em;
    }
    @mixin smallFont {
      font-size: 14px;
      line-height: 1.5em;
    }

    $imageSize: 50px;
    $imagePad: 20px;

    .att-integration {
      @include normalFont();

      &__heading {
        @include normalFont();
        font-weight: bold;
        padding-bottom: 0px;

        &-step {
          @include normalFont();
          color: $wizard-header;
          font-weight: bold;
          padding-bottom: 0px;
        }
      }

      &__container {
        max-height: 200px;
        overflow: scroll;
        
        &-preview {
          margin: 0 5em 0 5em;
          padding: 0 3em 0 3em;
          max-height: 230px;
          overflow: scroll;
        }
      }

      &__article {
        position: relative;
        min-height: $imageSize + (2 * $imagePad);
        padding-top: 20px;
        @include normalFont();

        &__image {
          position: absolute;
          left: $imagePad;
          top: $imagePad;

          &__rtc-logo {
            width: $imageSize;
            height: $imageSize;
          }
        }

        &__text {
          padding-left: $imageSize + (2 * $imagePad);
        }
      }
      
      &__label {
        display: block;
        padding-top: 8px;
      }
      
      &__dropdown {
        display: block;
        margin-bottom: 15px;
        width: 50%;
      }
      
      &__paragraph,
      &__unordered-list {
        @include normalFont();
      }
      
      &__paragraph-step {
        @include smallFont();
      }

      &__unordered-list {
        list-style-type: square;
        padding-left: $imagePad;

        li {
          padding: 0;
        }
      }
      
      &__unstyled-list {
        @include smallFont();
        list-style: none;
        padding-bottom: 3em;
        
        li {
          font-weight: bold;
          padding: 0.9em 0 0.5em 0;
          
          span {
            @include smallFont();
            font-weight: lighter;
          }
        }
        
        p {
          @include smallFont();
          padding-bottom: 0.3em;
          
          span {
            color: $wizard-header;
            float: right;
          }
        }
      }
    }
