@import './../../../css/variables.scss';
/*------------------------------------*\
  #TEAM-INTEGRATION
\*------------------------------------*/

  .att-hti {
    display: inline;
  }





  /*------------------------------------*\
    #INTEGRATION-WIZARD
  \*------------------------------------*/
    @mixin normalFont {
      font-size: 16px;
      line-height: 1.5em;
    }
    @mixin headingFont {
      font-size: 18px;
      line-height: 1.5em;
    }
    @mixin smallFont {
      font-size: 14px;
      line-height: 1.2em;
    }
    @mixin smallerFont {
      font-size: 12px;
      line-height: 1.2em;
    }
    @mixin smallestFont {
      font-size: 10px;
      line-height: 1.2em;
    }

    $imageSize: 50px;
    $imagePad: 20px;

    .att-integration {
      @include normalFont();

      &__heading {
        @include normalFont();
        font-weight: bold;
        padding-bottom: 0px;

        &-step {
          @include normalFont();
          color: $wizard-header;
          font-weight: bold;
          padding-bottom: 0px;
        }
      }

      &__container {
        @include smallFont();
        margin-top: 1em;
        
        span {
          display: block;
          padding-top: 8px;
          padding-bottom: 4px;
        }
        
        input {
          @include smallFont();
          width: 60%;
          max-width: 93%;
          padding: 0.5em;
          margin-bottom: 1em;
        }
      }
      
      &__preview {
        @include smallFont();
        margin: 1em 5em 0 5em;
        padding: 0 3em 0 3em;
        max-height: 17em;
        overflow: scroll;
      }
      
      &__configuration {
        @include smallFont();
        margin-top: 1.4em;
        max-height: 250px;
        display: flex;
        flex-direction: row;
        
        &-menu {
          max-width: 30%;
          border-right: 1px solid $extra-light-gray;
        }
        
        &-display {
          @include normalFont();
          flex-grow: 1;
          padding: 0 1.8em;
          
          label {
            @include smallerFont();
            display: block;
            margin-bottom: 0.3em;
          }
          
          p {
            input {
              @include smallFont();
              width: 100%;
              padding: 0.5em;
            }
            
            .subcontainer-attribute {
              width: 80%;
            }
          }
          
          &__subcontainer {
            display: flex;
            flex-direction: row;
            padding-top: 1.2em;
          }
        }
      }

      &__article {
        position: relative;
        min-height: $imageSize + (2 * $imagePad);
        padding-top: 20px;
        @include normalFont();

        &__image {
          position: absolute;
          left: $imagePad;
          top: $imagePad;

          &__rtc-logo {
            width: $imageSize;
            height: $imageSize;
          }
        }

        &__text {
          padding-left: $imageSize + (2 * $imagePad);
          max-height: 28em;
          overflow: scroll;
        }
      }
      
      &__paragraph,
      &__unordered-list {
        @include normalFont();
      }
      
      &__paragraph-step {
        @include smallFont();
      }

      &__unordered-list {
        list-style-type: square;
        padding-left: $imagePad;

        li {
          padding: 0;
        }
      }
      
      &__unstyled-list {
        @include smallFont();
        list-style: none;
        padding-bottom: 3em;
        
        &__bold {
          font-weight: bold;
        }
        
        li {
          padding: 1em 0 0.8em 0;
          
          span {
            @include smallestFont();
            font-weight: lighter;
          }
        }
        
        p {
          @include smallFont();
          padding-bottom: 0.4em;
          
          span {
            color: $wizard-header;
            float: right;
          }
        }
      }
      
      &__unstyled-menu-list {
        @include smallFont();
        list-style: none;
        
        li {
          padding: 0 0 2.5em 0;
          
          &:hover {
            font-weight: bold;
            color: $wizard-header;
          }
        }
        
        li:last-child {
          padding: 0;
        }
        
        li.li-selected {
          font-weight: bold;
          color: $wizard-header;
        }
      }
    }
    
    
    
    /*                                        */
    /*           Dropdown component           */
    /*                                        */
    .dropdown-btn {
      @include smallFont();
      background-color: $foreground-common-modal-header;
      color: $dropdown-content-dark;
      border: 1px solid $border-extra-light-gray;
      cursor: pointer;
      width: 63%;
      padding: 0.6em;
      text-align: left;
      
      &:hover {
        border: 1px solid $dropdown-content-dark;
      }
      
      svg {
        float: right;
        width: 20px;
      }
    }

    .dropdown {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 15px;
      
      &:hover .dropdown-content {
        display: block;
      }
      
      &-content {
        display: none;
        position: absolute;
        background-color: $foreground-common-modal-header;
        border: 1px solid $dropdown-content-dark;
        width: 63%;
        
        option {
          @include smallerFont();
          color: $dropdown-content-dark;
          padding: 1em;
          text-decoration: none;
          display: block;
          
          &:hover {
            background-color: $dropdown-content-dark;
            color: $foreground-common-modal-header;
          }
        }
      }
    }
    
    @media screen and (max-width: 480px) {
      .att-integration__article__image {
        display: none;
      }
      
      .att-integration__article__text {
        padding-left: 0;
      }
      
      .att-integration__preview {
        padding: 0;
        margin: 0;
      }
      
      .dropdown button,
      .att-integration__container input,
      .dropdown-content {
        width: 100%;
      }
      
      .att-integration__configuration-display {
        max-height: 14em;
        overflow: scroll;
      }
      
      .att-integration__configuration-menu {
        max-height: 25em;
        overflow: scroll;
      }
      
      .att-integration__preview {
        max-height: 15em;
        padding-right: 2em;
      }
    }
