node_modules/*
coverage/
public/dist/*
public/js/components/index/*
public/js/components/assessments/*
public/js/app.jsx
public/js/components/index/HomePage.jsx
public/css/styles.jsx
public/js/components/api.jsx
public/js/components/utils.jsx
public/js/common.js
public/login_files/**/*
models/**/*
middleware/**/*
routes/**/*
test/**/*
bin/*
helpers/**/*
bundle.js
gulpfile.js
newrelic.js
settings.js
app.js
app.*.js
