node_modules/
coverage/
.idea/
mongo_scripts/data.json
mongo_scripts/creds.json
mongo_scripts/creds.js
npm-debug.log
.DS_store
agile-team-tool-manifest.yml
.node-version
public/dist/
webpack-assets.json
dist/
