var webpack = require('webpack');
var webpackDevStuff = [
  'webpack/hot/dev-server',
  'webpack-hot-middleware/client'
];

module.exports = {
  output: {
    filename: "[name].js",
    path: '/',
    publicPath: '/dist/'
  },
  entry: {
    homeJs: webpackDevStuff.concat('./webpack/home_entry.js'),
    teamJs: webpackDevStuff.concat('./webpack/team_entry.js')
  },
  module: {
    loaders: [
      {
        test: /\.jsx$/,
        exclude: /(node_modules)/,
        loader: 'babel-loader',
        query: {
          presets: ['react'],
          plugins: ['react-html-attrs']
        }
      }
    ]
  },
  plugins: [
    new webpack.HotModuleReplacementPlugin()
  ],
  devServer: { hot: true }
}
