<footer id="footer">
<div class="wrap footerBottomArea clearfix">
  <div class="left-column"><a href="#" class="footerLogo">IBM Agile Academy</a></div>
  <div class="right-column">
    <h4 id="AA-h4">Super Friends</h4>
    <ul class="footer-navigation">
      <li>
        <ul>
          <li><a href="http://agilebusiness.w3ibm.mybluemix.net/" target="_blank" title="Agile Business">Agile Business</a></li>
          <li><a href="http://w3.devops.ibm.com/devops/" target="_blank" title="DevOps">DevOps</a></li>
          <li><a href="https://cognitivebuild.w3bmix.ibm.com/" target="_blank" title="IBM Cognitive Build">IBM Cognitive Build</a></li>
          <li><a href="https://design.ibm.com/" target="_blank" title="IBM Design Language">IBM Design</a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><a href="http://www.ibm.com/design/thinking/" target="_blank" title="IBM Design Thinking">IBM Design Thinking</a></li>
          <li><a href="https://w3-workplace.ibm.com/ibm/thinkacademy/index.html?cache=1-22-20#/home" target="_blank" title="IBM Think Academy">IBM Think Academy</a></li>
          <li><a href="http://learn.atlanta.ibm.com/la/topics/agile/" target="_blank" title="Leadership Academy">Leadership Academy</a></li>
          <li><a href="https://whitewater.ibm.com/" target="_blank" title="Whitewater">Whitewater</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="footer-links">
  <ul>
    <li><a href="https://w3-03.ibm.com/w3/info_terms_of_use.html">Terms of Use</a></li>
    <li><a href="http://w3.ibm.com/ibm/documents/corpdocweb.nsf/ContentDocsByTitle/Business+Conduct+Guidelines">Business conduct guidelines</a></li>
    <li><a href="https://w3-connections.ibm.com/wikis/home?lang=en-us#!/wiki/Wf49a0f070e65_41de_bb0a_ff81f7eb3319/page/yourIBM%20Accessibility%20Features">Accessibility</a></li>
    <li><a href="http://www.ibm.com">IBM.com</a></li>
  </ul>
</div>
</footer>
