<!-- FOOTER_BEGIN -->
<div id="ibm-footer-module">
  <!-- Dynamic footer links inserted here inside a <section> -->
</div>

<footer role="contentinfo" aria-label="IBM">
  <div class="ibm-padding-normal ibm-alternate" id="ibm-footer">
    <div class="ibm-columns">
      <div class="ibm-col-1-1">
        <div class="ibm-footer-corporate-links">
          <ul>
            <li><a href="http://www.ibm.com/contact/us/en/">Contact</a></li>
            <li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>
            <li><a href="http://w3.ibm.com/w3/info_terms_of_use.html" target="_blank">Terms of use</a></li>
            <li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
            <!-- <li class="ibm-feedbacklink"><a href="#">Feedback</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER_END -->
