<!DOCTYPE html>
<html lang="en-US">
<head>

<%- include ./header/header_meta.ejs %>

</head>
<body id="ibm-com" class="ibm-type" onload="siteEnv()" role="application" aria-label="Main page">
  <div id="ibm-top" class="ibm-landing-page">
    <%- include ./header/header_masthead.ejs %>
    
    <div id="ibm-content-wrapper">
      <%- include ./header/header_leadspace.ejs %>

      <main role="main" aria-labelledby="ibm-pagetitle-h1">
        <div id="ibm-pcon">
          <div id="ibm-content">
            <div id="ibm-content-body">
    
              <div id="ibm-content-main">
    
                <div class="ibm-columns">
                  <div class="ibm-col-2-1" id="helpcol1" style="width: 35%;">
                    <h2 class="ibm-bold ibm-h3" style="margin-top: 10px;">Help</h2>
                    <div class="ibm-rule ibm-alternate-1" style="margin-top: 0px;">
                      <hr>
                    </div>
                    
                    
                    <p class="ibm-ind-link">
                        <a class="ibm-forward-link" href="./howto/AgileTeamTool_TeamDataGuide.pdf"                                                          
                          target="_blank">How to maintain your team data</a>
                    </p>
                    <p class="ibm-ind-link">
                        <a class="ibm-forward-link" href="./howto/AgileTeamTool_IterationResultsGuide.pdf" 
                          target="_blank">How to record iteration results</a>
                    </p>
                    <p class="ibm-ind-link">
                        <a class="ibm-forward-link" href="./howto/AgileTeamTool_MaturityAssessmentGuide.pdf"                                                         
                          target="_blank">How to assess your agile maturity</a>
                    </p>
                    <p class="ibm-ind-link">
                      <a class="ibm-pdf-link" style="display:inline; margin-left: 4px;" href="./howto/AgileTeamTool_FrequentlyAskedQuestions.pdf" target="_blank"></a>
                      <a style="display:inline; padding-left: 0px;  margin-left: -3px;" href="./howto/AgileTeamTool_FrequentlyAskedQuestions.pdf" target="_blank">FAQ</a>
                    </p>
                    <p class="ibm-ind-link">
                      <a class="ibm-pdf-link" style="display:inline; margin-left: 4px;" href="./howto/Agile Team Tool - Quick Ref.pdf" target="_blank"></a>
                      <a style="display:inline; padding-left: 0px;  margin-left: -3px;" href="./howto/Agile Team Tool - Quick Ref.pdf" target="_blank">Quick reference card</a>
                     </p>
                    <p class="ibm-ind-link">
                     <a class="ibm-pdf-link" style="display:inline; margin-left: 4px;" href="./howto/AgileTeamTool_UserGuide.pdf" target="_blank"></a>
                     <a style="display:inline; padding-left: 0px; margin-left: -3px;" href="./howto/AgileTeamTool_UserGuide.pdf" target="_blank">User guide</a>
                    </p>
                    
                    <h2 class="ibm-bold ibm-h3" style="margin-top: 10px;">Additional links</h2>
                    <div class="ibm-rule ibm-alternate-1" style="margin-top: 0px;">
                      <hr>
                    </div>
                    
                    <p class="ibm-ind-link">
                        <a class="ibm-forward-link" href="https://w3-connections.ibm.com/communities/service/html/communitystart?communityUuid=f14aa341-aeef-4a21-bf4c-df41faf817c7" 
                          target="_blank">Agile Academy</a>
                    </p>
                   
                    <p class="ibm-ind-link">
                    <a class="ibm-forward-link" href="https://w3-connections.ibm.com/forums/html/topic?id=b3e1586f-37a5-4d2a-a3e1-653867728fd8&ps=25"  
                          target="_blank">Recent updates to the tool</a>
                    </p>
                   
                  </div> 
                  
                   <div class="ibm-col-2-1" id="helpcol2" style="width: 35%;">
                    <h2 class="ibm-bold ibm-h3" style="margin-top: 10px;">Connect with us</h2>
                    <div class="ibm-rule ibm-alternate-1" style="margin-top: 0px;">
                      <hr>
                    </div>
                      <p class="ibm-ind-link">
                        <a class="ibm-forward-link" href="https://w3-connections.ibm.com/forums/html/forum?id=d0e31d40-ff11-4691-bc65-c0d95bc0c426" 
                          target="_blank">Agile Team Tool forum</a>
                    </p>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <div id="ibm-related-content">
        <div id="ibm-merchandising-module">
          <!-- MTE will generate this -->
          <!-- <aside role="complementary" aria-label="Related content"> MTE dynamic modules populate in here. <aside> -->
          <!-- /MTE -->
        </div>
      </div>
    </div>
    <%- include ./footer.ejs %>
    
  </div>
</body>
</html>