<div class="ibm-common-overlay ibm-overlay-alt-two" data-widget="overlay" id="sendFeedback" style="overflow:auto;">
	<h2 style="padding-bottom: 0px; font-size:2em; " class="ibm-bold">Give us feedback about the Agile Team Tool</h2>
  <p  style="padding-top: 5px;padding-bottom: 0px;font-size:1.5em">We'd like to hear from you!</p>
	<div class="ibm-rule ibm-alternate" style="margin-top: 0px;">
		<hr>
	</div>
  <p class="ibm-bold" style='font-size:1.5em'>Contact information:</p>
  <p style="margin-top: -5px;margin-bottom: 10px; font-size:1.5em">Your email: <span id="userEmail"></span></p>
	<form id="feedbackForm" class="ibm-row-form" action="mailerFeedback" method="post">
    <input type="hidden" name="feedback_sender" id="feedback_sender"/>
    <input type="hidden" name="feedback_senderName" id="feedback_senderName"/>
    <input type="hidden" name="feedback_recipient" id="feedback_recipient"/>
    <input type="hidden" name="feedback_cc" id="feedback_cc"/>
    <p class="ibm-bold" style='font-size:1.5em'>Feedback:</p>
    <p class="ibm-form-elem-grp" style="margin-top: -5px; padding-bottom:10px; font-size:1.5em">
      <label aria-label="feedback_page">Specify the page, if applicable:</label>
      <span>
        <select id="feedback_page" style="min-width: 360px;" aria-label="feedback_page">
          <option value="Team navigation">Team Navigation</option>
          <option value="Important links">Important Links</option>
          <option value="Team description">Team Description</option>
          <option value="Team setup">Team Setup</option>
          <option value="Team detail">Team Detail</option>
          <option value="Create team">Create Team</option>
          <option value="Iteration overview">Iteration Overview</option>
          <option value="Maturity overview">Maturity Overview</option>
          <option value="Charts overview">Charts Overview</option>
          <option value="Help">Help</option>
          <option value="Not specified" selected>Not specified</option>
        </select>
      </span>
    </p>
    <p style="padding-bottom:10px;font-size:1.5em">
      <label aria-label="feedback_teamName">Team name:</label>
      <span>
        <select id="feedback_teamName" name="feedback_teamName" style="min-width: 360px" aria-label="feedback_teamName"> </select>
      </span>
    </p>
    <p style='font-size:1.5em'>
      <label aria-label="feedback"><span class="ibm-required">*</span>Write your feedback below:</label>
      <span>
        <textarea name="feedback" id="feedback" rows="3" cols="40" style="resize: none; min-width: 380px; font-size:1em" maxlength="2000" placeholder="Please provide a detailed description of your idea, suggestion, or problem" aria-label="feedback"></textarea>
      </span>
    </p>
    <br>
    <p style='font-size:1.5em'>
      Have a question?  Be sure to checkout our
      <a target="_blank" href="http://agileacademy.w3ibm.mybluemix.net/teamtool/howto/AgileTeamTool_FrequentlyAskedQuestions.pdf">Frequently
      Asked Questions</a> document.
    </p>
		<div class="ibm-rule ibm-alternate" style="margin-top: 0px;">
			<hr>
		</div>

		<p style='font-size:1.5em'>
			<span style="text-align: right; float: right; display: table-row-group; font-size:1.5em" class="ibm-btn-row">
        <input type="button" class="ibm-btn-pri ibm-btn-small" id="feeback_submit" value="Submit" onclick="submitFeedback();" disabled style="margin-right: 10px; font-size:.7em"/>
        <input type="button" class="ibm-btn-sec ibm-btn-small" id="feedback_cancel" value="Cancel" onclick="closeFeedback();" style='font-size:.7em' />
			</span>

		</p>
	</form>
</div>
