<footer id='attFooter' class='agile-tool-footer'>
  <div class='att-footer-links'>
    <div class='learn-links'>
      <h4>Learn</h4>
      <ul>
        <li><a href='https://agileacademy.mybluemix.net/' target='_blank' title='Agile Academy'>Agile Academy</a></li>
        <li><a href='https://agileacademy.mybluemix.net/practices' target='_blank' title='Agile Practices'>Agile Practices</a></li>
        <li><a href='https://agileacademy.mybluemix.net/courses' target='_blank' title='Agile Courses'>Agile Courses</a></li>
      </ul>
    </div>
    <div class='discover-links'>
      <h4>Discover</h4>
      <ul>
        <li><a href='http://www.ibm.com/design/thinking/' target='_blank' title='IBM Design Thinking'>IBM Design Thinking</a></li>
        <li><a href='http://w3.ibm.com/ibm/thinkacademy/' target='_blank' title='IBM Think Academy'>IBM Think Academy</a></li>
        <li><a href='http://learn.atlanta.ibm.com/la/' target='_blank' title='Leadership Academy'>Leadership Academy</a></li>
        <li><a href='https://whitewater.ibm.com/tools' target='_blank' title='Agile Practices'>Whitewater Tools</a></li>
        <li><a href='https://w3-connections.ibm.com/forums/html/forum?id=d0e31d40-ff11-4691-bc65-c0d95bc0c426' target='_blank' title='Agile Team Tool forum'>Agile Team Tool forum</a></li>
      </ul>
    </div>
    <div class='superfriends-links'>
      <h4>Superfriends</h4>
      <ul>
        <li><a href='http://agilebusiness.w3ibm.mybluemix.net/' target='_blank' title='Agile Business'>Agile Business</a></li>
        <li><a href='http://w3.devops.ibm.com/devops/' target='_blank' title='DevOps'>DevOps</a></li>
        <li><a href='https://cognitivebuild.w3bmix.ibm.com/' target='_blank' title='IBM Cognitive Build'>IBM Cognitive Build</a></li>
        <li><a href='https://design.ibm.com/' target='_blank' title='IBM Design Language'>IBM Design</a></li>
      </ul>
    </div>
    <div class='footer-image'>
      <img src='img/logo.svg' />
    </div>
  </div>
  <!-- <div class='att-footer-bottom'>
    <div class='footer-bottom-links'>
      <ul>
        <li><a href='https://w3-connections.ibm.com/forums/html/forum?id=d0e31d40-ff11-4691-bc65-c0d95bc0c426'>Contact</a></li>
        <li><a href='http://w3.ibm.com/ibm/documents/corpdocweb.nsf/ContentDocsByTitle/Business+Conduct+Guidelines'>Privacy</a></li>
        <li><a href='https://w3-03.ibm.com/w3/info_terms_of_use.html'>Terms of use</a></li>
        <li><a href='https://w3-connections.ibm.com/wikis/home?lang=en-us#!/wiki/Wf49a0f070e65_41de_bb0a_ff81f7eb3319/page/yourIBM%20Accessibility%20Features'>Accessibility</a></li>
        <li><a href=''>Cookie preferences</a></li>
      </ul>
    </div>
    <div class='footer-bottom-image'>
      <img src='img/logo.svg'></img>
    </div>
  </div> -->
</footer>
