@import '../../node_modules/react-datepicker/dist/react-datepicker.css';
@import '../../node_modules/react-select/dist/react-select.css';
@import './w3ds/w3ds.css';

/*------------------------------------*\
	#HELPERS
\*------------------------------------*/

  .group::after {
    content: "";
    display: table;
    clear: both;
  }


/*------------------------------------*\
	#TROUBLESHOOTERS
\*------------------------------------*/

  .i18n-highlight {
    background: yellow;
    color: brown;
    outline: 2px dashed;
    outline-offset: 1px;
  }
