html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%
}

#agile-home-header {
  background-color: black;
  width: 100%;
  height: 6.2%;
}

#agile-home-header-title {
  position: relative;
  width: 10%;
  height: 43.2%;
  left: 1.7%;
  top: 28.4%;
}

#agile-home-header-title > h {
  font-size: 1.5em;
  font-family: "HelvNeue Bold for IBM";
  color: #FFFFFF;
  text-align: center;
}

.home-nav-show-btn-div {
  width: 2.4%;
  height: 30%;
  background-color: #7CC7FF;
  position: absolute;
  top: 6.3%;
  left: -0.2%;
  z-index: 10;
  box-shadow: 2px 2px 4px #000000;
}

.home-nav-show-btn {
  width: 70%;
  padding: 0;
  margin-left: 20%;
  margin-top: 208%;
}

.home-nav-show-text {
  margin-left: 20%;
  margin-top: 10%;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
  font-size: 1.6em;
  color: #734098;
}

.home-nav-div {
  width: 32%;
  height: 100%;
  background-color: #F7F7F7;
  position: absolute;
  top: 6.2%;
  left: -500px;
  z-index: 11;
}

.home-nav-tab-div {
  width: 100%;
  height: 25%;
  position: relative;
  top: 75%;
}

.home-nav-tab {
  width : 93.2%;
  margin: 0 3.4%;
  height: 14.2%;
  background-color: #F7F7F7;
  /*display: flex;*/
  position: relative;
  /*align-items: flex-end;*/
}

.home-nav-tab-list {
  width: 60%;
  height: 100%;
  display: inline-block;
  float: left;
}

.home-nav-tab-item {
  width: 40%;
  height: 100%;
  font-family: "Helvetica Neue";
  font-size: 2em;
  line-height: 1em;
  color: #4D4D4D;
  padding: 0;
  margin: 0;
  text-align: center;
  display: inline-block
}

.home-nav-tab-item:not(:last-child) {
  margin-right: 20%
}

.home-nav-tab-item:hover {
  border-bottom: 2px solid #008ABF;
  cursor: pointer
}

.home-nav-tab-item[data-state="open"] {
  border-bottom: 2px solid #008ABF;
  font-weight: bold
}

.home-nav-tab-buttons {
  width: 30%;
  height: 100%;
  display: inline-block;
  float: right;
}

.home-nav-tab-buttons-item {
  height: 100%;
  width: 33%;
  padding: 0;
  margin: atuo;
  display: inline-block;
}

.home-team-nav {
  width : 93.2%;
  margin: 10% 3.4% 0 3.4%;
  height: 70%;
}

.nano-content {
  width : 100%;
  height: 100%;
}

.home-team-header {
  margin-top: 0.1%;
  width: 100%;
  height: 30%;
  background-color: #7CC7FF;
}

.home-team-header-title {
  position: relative;
  width: 50%;
  height: 17%;
  padding-top: 10%;
  padding-left: 2%;
  display: inline-block;
}

.home-team-header-title > h {
  font-family: "Helvetica Neue";
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  color: #734098;
  margin-left: 2%;
}

.home-team-header-img {
  fill: #734098 !important;
  width: 8%;
  height: 100%;
  margin-bottom: 3%;
}

.home-team-header-img svg {
  fill: red;
}
