html {
  height: 100%;
  font-size: 62.5%;
  background-color: white;
}

body {
  font-size: 1em;
  height: 100%
}

#agile-home-header {
  background-color: black;
  width: 100%;
  height: 6.2%;
}

#agile-home-header-title {
  position: relative;
  width: 10%;
  height: 43.2%;
  left: 1.7%;
  top: 28.4%;
}

#agile-home-header-title > h {
  font-size: 1.5em;
  font-family: "HelvNeue Bold for IBM";
  color: #FFFFFF;
  text-align: center;
}

.home-nav-show-btn-div {
  width: 2.4%;
  height: 30%;
  background-color: #F7F7F7;
  position: absolute;
  top: 6.3%;
  left: -0.2%;
  z-index: 10;
  box-shadow: 2px 2px 4px #000000;
}

.home-nav-show-btn {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.home-nav-show-btn svg{
  width: 70%;
  height: 20%;
  position: relative;
  left: 20%;
  padding-top: 150%;
}
.home-nav-show-btn path, .home-nav-show-btn polygon {
  fill: #5A5A5A
}

.home-nav-show-text {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
  font-size: 1.6em;
  font-family: "HelvNeue Light for IBM";
  color: #5A5A5A;
}

.home-nav-div {
  width: 32%;
  height: 100%;
  background-color: #F7F7F7;
  position: absolute;
  top: 6.2%;
  left: -500px;
  z-index: 11;
}

.home-nav-tab-div {
  width: 100%;
  height: 25%;
  position: relative;
  top: 75%;
}

.home-nav-tab {
  width : 93.2%;
  margin: 0 3.4%;
  height: 14.2%;
  background-color: #F7F7F7;
  /*display: flex;*/
  position: relative;
  /*align-items: flex-end;*/
}

.home-nav-tab-list {
  width: 60%;
  height: 100%;
  display: inline-block;
  float: left;
}

.home-nav-tab-item {
  width: 40%;
  height: 100%;
  font-family: "Helvetica Neue";
  font-size: 2em;
  line-height: 1em;
  color: #4D4D4D;
  padding: 0;
  margin: 0;
  text-align: center;
  display: inline-block
}

.home-nav-tab-item:not(:last-child) {
  margin-right: 20%
}

.home-nav-tab-item:hover {
  border-bottom: 2px solid #008ABF;
  cursor: pointer
}

.home-nav-tab-item[data-state="open"] {
  border-bottom: 2px solid #008ABF;
  font-weight: bold
}

.home-nav-tab-buttons {
  width: 30%;
  height: 100%;
  display: inline-block;
  float: right;
}

.home-nav-tab-buttons-item {
  height: 100%;
  width: 33%;
  padding: 0;
  margin: atuo;
  display: inline-block;
}

.home-team-nav {
  width : 93.2%;
  margin: 10% 3.4% 0 3.4%;
  height: 70%;
}

.nano-content {
  width : 100%;
  height: 100%;
}

.home-team-header {
  position: relative;
  top: 0.1%;
  left: 0.5%;
  width: 100%;
  height: 30%;
  background-color: #7CC7FF;
}

.home-team-header-title {
  position: relative;
  width: 90%;
  height: 17%;
  position: relative;
  top: 30%;
  left: 1.5%;
}

.home-team-header-teamname-div {
  width: 90%;
  height: 100%;
  display: inline-block;
  margin-left: 0.5%;
}

.home-team-header-teamname {
  font-family: "Helvetica Neue";
  font-size: 3em;
  font-weight: 300;
  line-height: 36px;
  color: #323232;
  display: inline-block;
  float: left;
}

.home-team-header-teamname-btn {
  width: 4%;
  height: 60%;
  display: inline-block;
  float: left;
  position: relative;
  top: 20%;
  left: 2%;
  cursor: pointer;
}

.home-team-header-teamname-btn-img svg {
  width: 100%;
  height: 100%;
}

.home-team-header-teamname-btn-img path, .home-team-header-teamname-btn-img polygon, .home-team-header-teamname-btn-img circle, .home-team-header-teamname-btn-img rect{
  fill: #4178BE !important;
}

.home-team-header-img-div {
  width: 5%;
  height: 80%;
  display: inline-block;
  float: left;
}

.home-team-header-img {
}

.home-team-header-img svg {
  width: 100%;
  height: 100%;
  padding-top: 10%;
}

.home-team-header-img path, .home-team-header-img polygon, .home-team-header-img circle, .home-team-header-img rect {
  fill: #323232 !important;
}

.home-team-header-hierarchy {
  height: 8.3%;
  width: 100%;
  position: relative;
  top: 35%;
  left: 2%;
}

.hierarchy-link {
  font-family: "HelvNeue Roman for IBM";
  display:inline;
  padding-left:0px;
  font-size: 1.4em;
  color: #EFF9FF;
}

.hierarchy-mark {
  font-family: "HelvNeue Roman for IBM";
  font-size: 1.4em;
  color: #EFF9FF;
}

.hierarchy-lastteam {
  font-family: "HelvNeue Roman for IBM";
  display: inline;
  font-size: 1.4em;
  color: #EFF9FF;
  border-bottom: 1px solid #EFF9FF;
}

.home-team-header-btns-div {
  /*background-color: red;*/
  height: 22.2%;
  width: 95%;
  position: relative;
  top: 48%;
  left: 2%;
}

.home-team-header-btns {
  width: 20%;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  float: left;
}

.home-team-header-btns2 {
  width: 60%;
  height: 100%;
  display: inline-block;
}

.home-team-header-btn-img {
  display: inline-block;
  width: 30%;
  height: 100%;
  float: left;
}
.home-team-header-btn-img2 {
  display: inline-block;
  width: 10%;
  height: 100%;
  cursor: pointer;
  float: left;
}
.home-team-header-btn-img svg, .home-team-header-btn-img2 svg {
  width: 100%;
  height: 100%;
}

.home-team-header-btn-img path, .home-team-header-btn-img rect, .home-team-header-btn-img polygon, .home-team-header-btn-img circle{
  fill: #FFFFFF
}

.home-team-header-btn-img2 path, .home-team-header-btn-img2 rect, .home-team-header-btn-img2 polygon, .home-team-header-btn-img2 circle{
  fill: #FFFFFF
}

.home-team-header-btn-title {
  width: 50%;
  height: 100%;
  font-family: "HelvNeue Roman for IBM";
  font-size: 1.4em;
  color: #FFFFFF;
  position: relative;
  top: 10%;
  left: 5%;
  display: inline-block;
  float: left;
}

.home-team-header-btn-title2 {
  width: 5%;
  height: 100%;
  font-family: "HelvNeue Light for IBM";
  font-size: 4.5em;
  font-weight: 100;
  color: #FFFFFF;
  display: inline-block;
  float: left;
}

.home-team-header-members-div {
  width: 85%;
  height: 100%;
  display: inline-block;
  float: left;
}

.home-team-header-members-div > div {
  width: 10%;
  height: 100%;
  display: inline-block;
  float: left;
  text-align: center;
}

/*.home-team-header-member-image {
  width: 9%;
  height: 80%;
  border-radius: 50%;
  margin-left: 0.5%;
  display: inline-block;
  border: 0.1em solid #FFFFFF;
  float: left;
}*/

.home-team-header-member-image {
  width: 90%;
  height: auto;

  border: 0.1em solid #FFFFFF;
  border-radius: 50%;
}

#teamMemberTable {
  width: 100%;
  height: 680%;
  padding: 0;
  /*background-color: red;*/
  position: relative;;;
  top: 52%;
  z-index: 9;
}

.team-member-table-title-div {
  width: 100%;
  height: 5.3%;
  background-color: #FFFFFF;
  border-left: 1px solid #C7C7C7;
  border-right: 1px solid #C7C7C7;
  border-top: 1px solid #C7C7C7;
}

.team-member-table-title {
  height: 32.5%;
  position: relative;
  top: 35%;
  left: 2%;
  font-family: "HelvNeue Light for IBM";
  font-size: 2.5em;
  color: #4178BE;
}

.team-member-table-close-btn {
  position: relative;
  top: 35%;
  right: 2%;
  float: right;
  font-family: "HelvNeue Light for IBM";
  font-size: 3em;
  color: #C7C7C7;
  cursor: pointer;
}

.team-member-table {
  width: 100%;
  height: 94%;
}

.team-member-table-header-block {
  width: 100%;
  height: 2.65%;
  border-left: 1px solid #C7C7C7;
  border-right: 1px solid #C7C7C7;
}

.team-member-table-header-block > div {
  height: 100%;
  background-color: #EFEFEF;
  display: inline-block;
  float: left;
}

.team-member-table-header-block > div > h {
  position: relative;
  top: 32%;
  left: 8%;
  height: 45%;
  font-family: "HelvNeue Bold for IBM";
  font-size: 1.4em;
  /*line-height: 18px;*/
  color: #323232;
}

.team-member-table-content-block {
  width: 100%;
  height: 5.3%;
  border-left: 1px solid #C7C7C7;
  border-right: 1px solid #C7C7C7;
}

.team-member-table-content-block > div {
  height: 100%;
  display: inline-block;
  float: left;
}

.team-member-table-content-block > div > div > img {
  width: 70%;
  height: 70%;
  position: relative;
  top: 15%;
  left: 15%;
  border-radius: 50%;
  /*display: inline-block;*/
}

.team-member-table-content-block > div > div > h {
  font-family: "HelvNeue Roman for IBM";
  font-size: 1.6em;
  color: #5A5A5A;
  padding: 0;
  margin: 0;
  /*display: inline-block;*/
}

.team-member-table-content-block > div > div > h1 {
  font-family: "HelvNeue Roman for IBM";
  font-size: 1.4em;
  color: #325C80;
  padding: 0;
  margin: 0;
}


.team-member-table-content-block > div > h {
  position: relative;
  top: 25%;
  left: 5%;
  height: 45%;
  font-family: "HelvNeue Roman for IBM";
  font-size: 1.6em;
  color: #5A5A5A;
}

.team-member-table-footer-block {
  width: 100%;
  height: 5.3%;
  background-color: #FFFFFF;
  border: 1px solid #C7C7C7;
  box-shadow: 0 2px 4px #C7C7C7;
}

.team-member-table-footer-block > button {
  position: relative;
  top: 20%;
  left: 8%;
}

.team-member-table-add-btn {
  width: 20%;
  height: 37.5%;
  position: relative;
  top: 25%;
  left: 8%;
  border: 2px solid #4178BE;
  cursor: pointer;
}

.team-member-table-add-btn > h {
  font-family: "HelvNeue Roman for IBM";
  font-size: 1.4em;
  text-align: center;
  color: #4178BE;
  position: relative;
  top: 25%;
  left: 15%;
}

.home-team-header-description-div {
  /*position: absolute;*/
  position: relative;
  left: -3%;
  top: -25%;
  display: inline-block;
  z-index: 10;
  width: 40%;
  height: 700%;
}
.home-team-header-description-arrow {
  height: 20%;
  width: 5%;
  display: inline-block;
  float: left;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.home-team-header-description-arrow-img svg {
  position: relative;
  right: 85%;
  height: 100%;
  width: 200%;
}

.home-team-header-description-arrow-img svg polygon {
  fill: #4178BE;
}
.home-team-header-description-title {
  height: 20%;
  width: 95%;
  background-color: #4178BE;
  display: inline-block;
  float: left;
  box-shadow: 1px 0 1px #4178BE;
}
.home-team-header-description-title > h {
  height: 50%;
  position: relative;
  top: 35%;
  left: 5%;
  font-family: "HelvNeue Bold for IBM";
  font-size: 1.5em;
  color: #FFFFFF;
  display: inline-block;
  float: left;
}

.home-team-header-description-title > h1 {
  height: 50%;
  position: relative;
  top: 40%;
  right: 5%;
  font-family: "HelvNeue Light for IBM";
  font-size: 2em;
  color: #FFFFFF;
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.home-team-header-description-content {
  height: 80%;
  width: 95%;
  background-color: #FFFFFF;
  position: relative;
  left: 5%;
  box-shadow: 1px 1px 1px #C7C7C7;
  float: left
}

.home-team-header-description-content > div {
  position: relative;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 60%;
  display: inline-block;
}

.home-team-header-description-content > div > h1 {
  position: relative;
  height: 20%;
  width: 100%;
  float: left;
  display: inline-block;
  font-family: "HelvNeue Bold for IBM";
  font-size: 1.4em;
  color: #464646;
  padding: 0;
}

.home-team-header-description-content > div > p {
  font-family: "HelvNeue Roman for IBM";
  font-size: 1.4em;
  line-height: 1.6em;
  color: #464646;
}

.home-team-header-description-content > button {
  float: right;
  position: relative;
  right: 10%;
  top: 10%;
}

.home-trends-block {
  position: relative;
  left: 0.5%;
  width: 100%;
  height: 350%;
}

.home-trends-block-title {
  float: left;
  width: 100%;
  height: 2.7%;
}

.home-trends-block-title > h1 {
  float: left;
  display: inline-block;
  position: relative;
  top: 60%;
  padding: 0;
  font-family: "HelvNeue Light for IBM";
  font-size: 2.5em;
  color: #734098;
}

.home-trends-block-title > span {
  display: inline-block;
  float: left;
  position: relative;
  top: 63%;
  left: 38%;
  width: 1%;
  height: 13%;
  background-color: #FFA501;
  padding: 0;
}
.home-trends-block-title > h4 {
  display: inline-block;
  float: left;
  position: relative;
  top: 60%;
  left: 38%;
  font-family: "HelvNeue Light for IBM";
  font-size: 1.1em;
  color: #777677;
  padding: 0;
}

.home-trends-block-title > div {
  display: inline-block;;
  float: right;
  position: relative;
  top: 45%;
  right: 2.5%;
  width: 3%;
}

#iterationSection, #assessmentSection{
  float: left;
  position: relative;
  width: 100%;
  height: 46%;
}

.home-chart {
  border: 1px solid #000000;
}

.container-body-columns {
  position: relative;
  width: 99%;
  height: 23%;
}

.container-body-columns-ase {
  position: relative;
  width: 100%;
  height: 31%;
}

.container-body-col-2-1 {
  position: relative;
  width: 47%;
  height: 23%;
  display: block;
  float: left;
  border: 1px solid #C7C7C7;
  margin-left: 2%;
  margin-top: 2%;
}

.container-body-col-2-2 {
  position: relative;
  width: 47%;
  height: 100%;
  display: block;
  float: left;
  border: 1px solid #C7C7C7;
  margin-left: 2%;
}

.container-body-col-2-1 > div, .container-body-col-2-2 > div  {
  position: relative;
  width: 96%;
  height: 96%;
  top: 2%;
  left: 2%;
}

.home-chart-filter-block {
  position: relative;
  display: inline-block;
  z-index: 10;
  left: 32%;
  cursor: default;
}

.home-chart-filter-arrow {
  height: 20%;
  width: 5%;
  display: inline-block;
  float: left;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.home-chart-filter-arrow-img svg {
  position: relative;
  right: 85%;
  height: 100%;
  width: 200%;
}
.home-chart-filter-arrow-img svg polygon {
  fill: #4178BE;
}

.home-chart-filter-title {
  height: 20%;
  width: 95%;
  background-color: #4178BE;
  display: inline-block;
  float: left;
}

.home-chart-filter-title > h1 {
  height: 50%;
  position: relative;
  top: 35%;
  left: 5%;
  font-family: "HelvNeue Bold for IBM";
  font-size: 1.5em;
  color: #FFFFFF;
  display: inline-block;
  float: left;
  padding: 0;
}

.home-chart-filter-title > h2 {
  height: 50%;
  position: relative;
  top: 40%;
  right: 5%;
  font-family: "HelvNeue Light for IBM";
  font-size: 2em;
  color: #FFFFFF;
  display: inline-block;
  float: right;
  padding: 0;
  cursor: pointer;
}

.home-chart-filter-content {
  height: 60%;
  width: 95%;
  background-color: #FFFFFF;
  position: relative;
  left: 5%;
  /*box-shadow:  2px 2px 2px #C7C7C7;*/
  float: left;
}

/*.home-chart-filter-columns {
  height: 20%;
  width: 100%;
}*/

.home-chart-filter-selected {
  position: relative;
  float: left;
  margin-top: 1.5%;
  margin-left: 8%;
  background-color: #7CC7FF;
  border: 0.1em solid #7CC7FF;
  height: 16%;
  width: 37.5%;
  font-family: "HelvNeue Roman for IBM";
  font-size: 1.2em;
  line-height: 2em;
  color: #323232;
  text-align: center;
  cursor: pointer;
}

.home-chart-filter-unselected {
  position: relative;
  float: left;
  margin-top: 1.5%;
  margin-left: 8%;
  border: 0.1em solid #00B4A0;
  height: 16%;
  width: 37.5%;
  font-family: "HelvNeue Roman for IBM";
  font-size: 1.2em;
  line-height: 2em;
  color: #323232;
  text-align: center;
  cursor: pointer;
}

.home-chart-filter-btns {
  height: 20%;
  width: 95%;
  position: relative;
  left: 5%;
  float: left;
  background-color: #FFFFFF;
  border-top: 1px solid #C7C7C7
}

#iterContent > div {
  height: 100%;
}

.home-iter-title {
  position: relative;
  left: 5%;
  float: left;
  top: 4%;
  width: 90%;
  height: 2%;
  font-family: "HelvNeue Light for IBM";
  font-size: 2.5em;
  color: #734098;
}

.home-no-iter-info {
  position: relative;
  left: 5%;
  float: left;
  top: 5%;
  width: 90%;
  height: 2%;
  font-family: "HelvNeue Light for IBM";
  font-size: 2.0em;
  color: #000000;
}


.home-iter-selection-block {
  position: relative;
  left: 5%;
  float: left;
  top: 4.5%;
  width: 90%;
  height: 3%;
  font-family: "HelvNeue Roman for IBM";
  font-size: 1.6em;
}

.home-iter-selection-block > select {
  position: relative;
  float: left;
  display: inline-block;
  width: 80%;
  height: 100%;
}

.home-iter-add-btn-block {
  position: relative;
  display: inline-block;
  float: right;
  width: 13%;
  height: 70%;
  top: 13%;
}

.home-iter-add-btn-block > i > svg {
  width: auto;
  height: 100%;
}

.home-iter-last-update-block {
  position: relative;
  left: 5%;
  float: left;
  top: 5%;
  width: 90%;
  height: 3%;
}

.home-iter-last-update-title {
  position: relative;
  height: 100%;
  width: 40%;
  display: inline-block;
  float: left;
  font-family: "Helvetica Neue LT W1G";
  font-size: 1.6em;
  line-height: 1.8em;
  color: #323232;
}

.home-iter-last-update {
  position: relative;
  top: 15%;
  right: 8%;
  height: 85%;
  width: 40%;
  display: inline-block;
  float: right;
  font-family: "HelvNeue Roman for IBM";
  font-size: 1.3em;
  text-align: right;
  line-height: 1.6em;
  color: #5A5A5A;
}

.home-iter-sprint-block {
  position: relative;
  top: 5.5%;
  left: 5%;
  width: 90%;
  height: 8%;
  float: left;
}

.home-iter-throughput-block {
  position: relative;
  top: 7.5%;
  left: 5%;
  width: 90%;
  height: 7%;
  float: left;
}

.home-iter-velocity-block {
  position: relative;
  top: 9.5%;
  left: 5%;
  width: 90%;
  height: 8%;
  float: left;
}

.home-iter-defects-block {
  position: relative;
  top: 11.5%;
  left: 5%;
  width: 90%;
  height: 8%;
  float: left;
}

.home-iter-cyclage-block {
  position: relative;
  top: 13.5%;
  left: 5%;
  width: 90%;
  height: 5.5%;
  float: left;
}

.home-iter-overal-block {
  position: relative;
  top: 15.5%;
  left: 5%;
  width: 90%;
  height: 5.5%;
  float: left;
}

.home-iter-comment-block {
  position: relative;
  top: 17.5%;
  left: 5%;
  width: 90%;
  height: 15%;
  float: left;
}

.home-iter-content-title {
  position: relative;
  width: 100%;
  float: left;
  font-family: "HelvNeue Medium for IBM";
  font-size: 1.6em;
  line-height: 1.9em;
  color: #5A5A5A;
}

.home-iter-content-sub {
  position: relative;
  width: 70%;
  float: left;
  display: inline-block;
  font-family: "HelvNeue Roman for IBM";
  font-size: 1.6em;
  text-align: left;
  line-height: 1.6em;
  color: #777677;
}

.home-iter-content-point {
  position: relative;
  right: 8%;
  width: 15%;
  float: right;
  display: inline-block;
  font-family: "HelvNeue Roman for IBM";
  font-size: 1.6em;
  text-align: right;
  line-height: 1.6em;
  color: #4178BE;
  cursor: pointer;
}

.home-iter-content-point:hover {
  background-color: #FFFFFF;
  border: 0.1em solid #4178BE;
}

.home-iter-comment-test {
  width: 100%;
  height: 80%;
  resize: none;
  border: 1px solid #979797;
  background-color: #FFFFFF;
}
