
/*blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}*/

.clearfix:after {
  content: ".";
  display: block;
  font-size: 0;
  line-height: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

:focus {
  outline: none;
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
}

/*p {
  padding: 0 0 15px 0;
}

section:after {
  content: ".";
  display: block;
  font-size: 0;
  line-height: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

section {
  display: inline-block;
}

* html section {
  height: 1%;
}

section {
  display: block;
}*/

/* Fonts available
font-family:'HelveticaNeueW01-UltLt';
font-family:'HelveticaNeueETW01-45Lt';
font-family:'HelveticaNeueETW01-55Rg';
font-family:'HelveticaNeueETW01-75Bd';
font-family:'HelveticaNeueW01-76Bold';
font-family:'BodoniMTW01-BookItalic';
*/
body, input, textarea, select, table {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-size: 16px;
  font-family: 'HelveticaNeueETW01-55Rg', sans-serif;
}

h1 {
  font-family: 'HelveticaNeueETW01-55Rg', sans-serif;
}

h2 {
  font-family: 'HelveticaNeueETW01-75Bd';
  font-weight: normal;
  color: #303a3b;
  line-height: 30px;
  font-size: 30px;
}

h4 {
  font-size: 20px;
  line-height: 26px;
  color: #303a3a;
  margin: 0 0 17px;
  font-weight: bold;
}

h6 {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin: 0 0 14px;
  font-style: italic;
}


#outer-wrap {
  width: 100%;
  background: #fafafa;
  box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#inner-wrapper {
  position: relative;
  width: 100%;
  background: #fff;
}

.wrap {
  max-width: 1023px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  max-width: 1023px;
}
.wrap:after {
  content: " ";
  display: block;
  clear: both;
}

.padding50 {
  padding-bottom: 50px;
  padding-top: 50px;
}

.padding70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

header, nav, section, footer {
  display: block;
}

.left-column {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
}

.right-column {
  width: 57.62712%;
  float: right;
  margin-right: 0;
}

#footer .left-column {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}

/* Header
========================================================================================*/
#header {
  background: #fff;
  padding: 10px 27px 10px 14px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 999;
  position: relative;
}

body header nav ul li {
  margin-top: 3px;
}

body header nav ul li:hover {
  margin-top: 0px;
}

header nav ul li a:hover {
  color: #313b3c;
  opacity: 0.75;
}

#logo {
  background: url(../img/logo.svg) no-repeat 0 0;
  width: 158px;
  height: 37px;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  margin: 4px 15px 0 21px;
}

header, nav, section, footer {
  display: block;
}

#logo:hover + a.logo-caption {
  color: #67a3d9;
}

a.logo-caption:hover {
  text-decoration: none;
  color: #67a3d9;
}

.logo-bar {
  float: left;
  margin-right: 2.5%;
  vertical-align: top;
}

.logo-caption {
  font-size: 16px;
  color: #323c3c;
  text-transform: uppercase;
  border-left: solid 1px #323c3c;
  display: inline-block;
  line-height: 45px;
  padding: 0 0 0 14px;
  vertical-align: top;
}

/* a tag
========================================================================================*/
a:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #4278bb;
}

a:hover {
  color: #67a3d9;
}

/* Main Navigation
========================================================================================*/
/*nav {
  float: right;
  margin: 10px 0 0 0;
}*/

nav ul li {
  float: left;
  margin-left: 23px;
}

nav ul li:first-child {
  margin-left: 0;
}

.headerTabs{
  float: left;
  margin-left: 3px;
}

.headerTabsInner{
  margin-top: 10px;
}

nav ul li a {
  color: #313b3c;
  font-size: 15px;
  text-decoration: none;
  position: relative;
  color:inherit;
}

nav ul li.active a {
  color: #4278bb;
}

nav ul li a:before {
  content: '';
  display: inline-block;
  background-color: #4278bb;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -2.5px;
  display: none;
}

nav ul li.active a:before {
  display: block;
}

/* Footer
========================================================================================*/
fieldset, textarea {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  width: inherit;
}

#footer {
  background: #313b3c;
  border-top: solid 1px #556771;
}

.footerBottomArea {
  padding: 70px 0 75px;
}

.footerBottomArea h4 {
  color: #fff;
  font-size: 16px;
}

.footerBottomArea .right-column {
  text-align: left;
  line-height: normal;
}

.footerLogo {
  float: right;
  background: url(../img/footer-logo.svg) no-repeat 0 0;
  width: 179px;
  height: 49px;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  margin-top: 55px;
}

.footer-navigation:after {
  content: "";
  display: table;
  clear: both;
}

.footer-navigation > li {
  float: left;
  width: 43%;
  margin-right: 2%;
}

.footer-navigation li ul li {
  margin-bottom: 11px;
}

.footer-navigation li ul li a {
  color: #c8cdd0;
  font-size: 16px;
}

.footer-navigation li ul li a:hover {
  margin-left: 4px;
}

.footer-links {
  border-top: solid 1px #646567;
  text-align: center;
  padding: 16px 0 52px;
}

.footer-links ul li {
  display: inline-block;
  margin: 0 16px;
}

.footer-links ul li a {
  color: #69a3d3;
  font-size: 14px;
}

.footer-links ul li a:hover {
  color: #fff;
}

/* Max Width 1023px */
@media only screen and (max-width: 1023px) {
  .wrap {
    width: 96%;
    margin: 0 auto;
  }

  .noneDes {
    display: block;
  }

  .tabNone, .deviceNone {
    display: none;
  }

  #logo {
    margin-left: 6px;
  }

  .logoBar {
    margin-right: 10px;
  }

  nav ul li {
    margin-left: 10px;
  }

  nav ul li a {
    font-size: 14px;
  }

  .page-home .banner {
    background-size: cover;
    position: inherit;
    top: auto;
  }

  .value-listing {
    width: 50%;
    margin-right: 0;
  }

  .principle h2 {
    padding-bottom: 30px;
  }

  .principle-bg {
    background-position: left -40px;
    height: inherit;
  }

  .principle-list li {
    padding: 10px 0;
  }

  .round-icon {
    margin-right: 15px;
  }

  .welcome-block {
    padding: 59px 0 80px 0;
  }

  .padding70 {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .left-column {
    width: 35%;
  }

  .comments-questions h2 em {
    right: -55px;
    top: -30px;
    background-size: 60%;
  }

  .value-title h2 {
    font-size: 42px;
  }

  #media-kit .small-block {
    max-width:600px;
  }
  #media-kit .main-block {
    float:none;
  }
  #media-kit .buttons-block {
    max-width:600px;
    margin:0 auto;
  }
  #media-kit .icon-buttons {
    text-align:center;
  }
}
@media only screen and (max-width: 767px) {
  .shadow-box, .left-column, .right-column, .value-title, .value-title, .value-listing, #practiceCat, #multi-column {
    width: 100% !important;
    float: none !important;
  }

  .welcomeback-block .left-column {
    padding-top: 0px;
  }

  div#multi-column {
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }

  #header {
    padding-right: 5px;
  }

  .logoBar {
    margin-top: 5px;
  }

  #logo {
    width: 118px;
    height: 26px;
    margin: 4px 10px 0 0;
  }

  .logo-caption {
    font-size: 14px;
    line-height: 35px;
  }

  nav > ul {
    width: 70%;
    position: absolute;
    top: 0;
    right: -70%;
    margin-top: 7px;
    float: none;
  }

  nav > ul > li {
    float: none;
    padding: 0;
    border-bottom: solid 1px #eeeeee;
    margin: 0;
  }

  nav ul li a {
    font-size: 16px;
    display: block;
    padding: 6px 10px;
    margin: 0;
    line-height: 35px;
  }

  nav ul li a:before {
    bottom: 50%;
    left: auto;
    right: 15px;
    margin-left: 0;
    margin-bottom: -2.5px;
  }

  .menu {
    display: block;
  }

  body header nav ul li:hover {
    margin-top: 3px;
  }*/
