$teal: #468499;

/*------------------------------------*\
  #COMMON-MODAL
\*------------------------------------*/
  $background-common-modal-backdrop: #000000;
  $background-common-modal-inner: #ffffff;
  $box-shadow-common-modal-inner: 0 0 1em 0 rgba(0, 0, 0, 0.16);
  $background-common-modal-header: #4178be;
  $foreground-common-modal-header: #ffffff;
  
  $wizard-header: #4178BE;
  $extra-light-gray: #bfbfbf;
