/*------------------------------------*\
  # Wizard
\*------------------------------------*/

.content-container {
  display: flex;
  flex-direction: column;
}

.footer-wizard {
  margin-left: auto;
}

.u-mr-sm {
  margin-right: 0.5em;
}

.content {
  margin: 3.2em;
}
