/*------------------------------------*\
  # Wizard
\*------------------------------------*/

.footer-wizard {
  margin: 2em;
  float: right;
}

.u-mr-sm {
  margin-right: 0.5em;
}

.content {
  margin: 3.2em;
}
