/*------------------------------------*\
  # Wizard
\*------------------------------------*/

.att-wizard__content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.att-wizard__content {
  margin: 3em 4.2em;
  height: 70%;
}

.att-wizard__footer {
  margin: 1em 2em auto auto;
}

.u-mr-sm {
  margin-right: 1em;
}
