<html>
<head>
  <link rel="stylesheet" href="https://trello.com/power-ups/power-up.css">
  <script src="//trello.com/power-ups/power-up.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
</head>
<body>
<div id="content" style="padding: 50px 50px;">
  <h1>ATT Trello Powerup Token:</h1>
  <input id='token' type="text" value="<%= apiKey %>" />
  <button class="btn" data-clipboard-target="#token">
    Copy to clipboard
  </button>
  <h5>Copy the token above and paste it in the token field</h5>
</div>
<script type="text/javascript">
  new Clipboard('.btn');
</script>
</body>
</html>
