<% include ../feedback.ejs %>
<header role="banner" aria-labelledby="ibm-pagetitle-h1">
  <div id="ibm-leadspace-head" class="ibm-alternate">
    <div id="ibm-leadspace-body">
      <div class="ibm-columns">
        <div class="ibm-col-6-5">
          <h1 id="ibm-pagetitle-h1" class="ibm-h1 ibm-bold" style="padding-bottom:2px;width:1085px;"> <%= siteTitle %><span id="systMsg"></span></h1>
        </div>
        <div>
          <span class="customSpan ibm-textcolor-red-50" id="environment"></span>
        </div>
      </div>
    </div>
  </div>
  <!-- LEADSPACE_END -->
  
  <!-- CONTENT_NAV_BEGIN -->
  <nav role="navigation" aria-labelledby="ibm-pagetitle-h1">
    <div id="ibm-content-nav">
      <div id="ibm-primary-tabs">
        <ul class="ibm-tabs" role="tablist" aria-label="Tool navigation">

          <%if(pageTitle=="Home"){ %>
            <li role="presentation" class="ibm-active"><a role="tab" href="/" aria-selected="true"/> Home</a></li>
          <% }else{ %>
            <li role="presentation"><a role="tab" href="/"/> Home</a></li>
           <% } %>
           
          <%if(pageTitle=="Team Management"){ %>
            <li role="presentation" class="ibm-active"><a role="tab" href="/team" aria-selected="true"/> Team Management</a></li>
          <% }else{ %>
            <li role="presentation"><a role="tab" href="/team"/>Team Management</a></li>
          <% } %>
            
          <%if(pageTitle=="Iteration Management"){ %>
            <li role="presentation" class="ibm-active"><a role="tab" href="/iteration" aria-selected="true"/> Iteration Management</a></li>
          <% }else{ %>
            <li role="presentation"><a role="tab" href="/iteration"/> Iteration Management</a></li>
          <% } %>
          
          <%if(pageTitle=="Maturity Assessment"){ %>
            <li role="presentation" class="ibm-active"><a role="tab" href="/assessment" aria-selected="true"/> Maturity Assessment</a></li>
          <% }else{ %>
            <li role="presentation"><a role="tab" href="/assessment"/> Maturity Assessment</a></li>
          <% } %>
          
          <%if(pageTitle=="Help"){ %>
            <li role="presentation" class="ibm-active"><a role="tab" href="/help" aria-selected="true"/> Help</a></li>
          <% }else{ %>
            <li role="presentation"><a role="tab" href="/help"/>Help</a></li>
          <% } %>

          <li role="presentation" class= "feedback" style="float: right;"> <a class= "feedback" href="javascript: launchFeeback('<%- userEmail%>');">Feedback</a> </li>
        </ul>
      </div>

    </div>
  </nav>
  <!-- CONTENT_NAV_END -->
</header>