<!-- MASTHEAD_BEGIN -->
<body>
    <div aria-label="IBM" class="ibm-mhtype-minimal" id="ibm-masthead" role=
    "banner">
        <div id="ibm-mast-options">
            <ul aria-labelledby="ibm-masthead" role="toolbar">
                <li id="ibm-geo" role="presentation">
                    <a aria-label="United States selected - Choose a country" href=
                    "http://www.ibm.com/planetwide/select/selector.html" role=
                    "button">United States</a>
                </li>
                <li id="ibm-language" role="presentation">
                    <span aria-disabled="true" class="ibm-active" role=
                    "button">English</span> <a href="http://www.ibm.com/us/en/"
                    lang="en-US" role="button">English</a>
                </li>
            </ul>
        </div>
        <div class="" id="ibm-universal-nav">
            <div id="ibm-home">
                <a href="http://www.ibm.com/us/en/?lnk=m">IBM&reg;</a>
            </div><span class="c1">user email here</span>
            <div class="ibm-masthead-rightside">
                <div class="ibm-search-typeahead-container" id=
                "ibm-search-typeahead-container"></div>
                <ul aria-label="Tools" class="ibm-masthead-iconsonly" role=
                "menubar">
                    <li class="ibm-masthead-item-signin" id="dropdown-display-li"
                    role="presentation">
                        <button class="ibm-masthead-signin-link" id=
                        "ibm-dropdown-button" role="menuitem">My IBM</button>
                        <ul aria-label="Profile" class="ibm-dropdown-menu" id=
                        "ibm-signin-minimenu-container" role="menu">
                            <!-- <li role="presentation">
                                <a href="" role="menuitem">Profile</a>
                            </li> -->
                            <li role="presentation">
                                <a href="/logout" role="menuitem">Sign Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
 </body>
<!-- MASTHEAD_END -->

 <script src="js/navbar.js"></script>