<% include ../feedback.ejs %>
<div id="warningBar" class="logo-warning">
</div>
<header id="header" style="right: 0px; left: 0%;">
  <div class="clearfix">
    <div class="logo-bar"><a title="IBM Agile Academy" id="logo" href="/">IBM Agile Academy</a> <a class="logo-caption" href="/">Agile Team Tool</a>&nbsp;&nbsp;<a class="logo-message" href="/" id="systMsg"></a></div>
    <form class="form">
      <fieldset>

        <nav style="float: right; margin: 10px 0 0 0;"><a id="menu" class="menu" href="#"></a>
          <ul style="list-style: none; right: -70%;">

            <li><a href="https://w3-connections.ibm.com/forums/html/forum?id=d0e31d40-ff11-4691-bc65-c0d95bc0c426" title="Community" target="_blank">Community</a></li>
            <li><a href="javascript: launchFeeback('<%- userEmail%>');" title="Feedback">Feedback</a> </li>
            <li><a href="/help" title="Help">Help</a></li>
            <li><a title="Logout" href="/logout">Logout</a></li>

          </ul>
        </nav>
      </fieldset>
    </form>
  </div>
</header>
