<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="geo.country" content="US" />
<meta name="dcterms.rights" content="© Copyright IBM Corp. 2015" />
<meta name="dcterms.date" content="REPLACE" />
<meta name="description" content="REPLACE" />
<meta name="keywords" content="REPLACE" />
<meta name="robots" content="index, follow" />
<title> <%= siteTitle %> | <%= pageTitle%> </title>

<script>
	digitalData = {
		"page" : {
			"category" : {
				"primaryCategory" : "REPLACE"
			},
			"pageInfo" : {
				"effectiveDate" : "2015-01-01",
				"expiryDate" : "2025-01-01",
				"language" : "en-US",
				"publishDate" : "2015-01-01",
				"publisher" : "IBM Corporation",
				"version" : "v18",
				"ibm" : {
					"contentDelivery" : "REPLACE",
					"contentProducer" : "REPLACE",
					"country" : "US",
					"industry" : "CIO",
					"owner" : "Cheryl Rabenstein/Sterling Forest/IBM",
					"subject" : "REPLACE",
					"type" : "REPLACE"
				}
			}
		}
	};
</script>

<script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>

<link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />

<script src="//1.www.s81c.com/common/v18/js/dyntabs.js"></script>

<script type="text/javascript" src="j/config?v=<%=Math.random()%>"></script>
<script type="text/javascript" src="j/jquery.couch.js"></script>
<script type="text/javascript" src="j/feedback.js?v=<%=Math.random()%>"></script>

<script type="text/javascript">    
  IBMCore.common.util.config.set({
    "masthead" : {
      "type" : "alternate"
    },
    "footer" : {
      "type" : "alternate",
      "enabled" : false
    }
  });
  var $ = jQuery.noConflict();
</script>

