swagger: '2.0'
info:
  title: Agile Team Tool API
  description: Set of APIs to import data into the tool
  version: "1.0.0"
# the domain of the service
host: agiletool.local.dev
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json

paths:
  /teams:
    get:
      summary: Teams
      description: |
        The teams endpoint retrieves all of the teams associated by the user that created the API key
      parameters:
        - name: apiKey
          in: header
          description: Unique API key generated for the consumer of this API
          required: true
          type: string
          format: string
      tags:
        - Team
      responses:
        200:
          description: An array of teams
          schema:
            type: array
            items:
              $ref: '#/definitions/Team'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /iterations:
    get:
      summary: Iterations
      description: |
        The iterations endpoint retrieves all of the iteration data for a particular team
      parameters:
        - name: apiKey
          in: header
          description: Unique API key generated for the consumer of this API
          required: true
          type: string
          format: string
        - name: teamId
          in: query
          description: Unique team ID
          required: false
          type: string
          format: string
      tags:
        - Iteration
      responses:
        200:
          description: An array of iterations
          schema:
            type: array
            items:
              $ref: '#/definitions/Iteration'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Iterations
      description: |
        This endpoint inserts new iteration data
      parameters:
        - name: apiKey
          in: header
          description: Unique API key generated for the consumer of this API
          required: true
          type: string
          format: string
        - name: iteration
          in: body
          description: JSON body of the iteration data to be updated
          required: true
          schema:
            type: object
            required:
              - teamId
              - iterationName
              - startDate
              - endDate
            properties:
              _id:
                type: string
              createDate:
                type: Date
                required: [true, 'Creation date is required.']
              createdByUserId:
                type: String
                required: [true, 'UserId of creator is required.']
              createdBy:
                type: String
                required: [true, 'Name of creator is required.']
              startDate:
                type: Date
                required: [true, 'Start date of Iteration is required.']
              endDate:
                type: Date
                required: [true, 'End date of Iteration is required.']
                validate: [validateDate, 'End date must be >= start date']
              name:
                type: String
                required: [true, 'Name of Iteration is required.']
              teamId:
                type: Schema.Types.ObjectId
                required: [true, 'TeamId of Iteration is required.']
              memberCount:
                type: Number
              cycleTimeInBacklog:
                type: Number
                default: null
              cycleTimeWIP:
                type: Number
                default: null
              defectsEndBal:
                type: Number
                min: [0, 'Closing balance defects must be a number']
                default: null
              defectsClosed:
                type: Number
                default: null
              defects:
                type: Number
                default: null
              defectsStartBal:
                type: Number
                default: null
              memberChanged:
                type: Boolean
                default: false
              comment:
                type: String
                default: null
              teamSatisfaction:
                type: Number
                min: [1, 'Team satisfaction should be between 1.0 - 4.0']
                max: [4,'Team satisfaction should be between 1.0 - 4.0']
                default: null
              clientSatisfaction:
                type: Number
                min: [1, 'Client satisfaction should be between 1.0 - 4.0']
                max: [4, 'Client satisfaction should be between 1.0 - 4.0']
                default: null
              deployments:
                type: Number
                default: null
              storyPointsDelivered:
                type: Number
                default: null
              committedStoryPoints:
                type: Number
                default: null
              deliveredStories:
                type: Number
                default: null
              committedStories: 
                type: Number
                default: null
              status:
                type: String
                default: 'Not complete'
              memberFte:
                type: Number
                default: null
              updatedBy:
                type: String
                default: null
              updatedByUserId:
                type: String
                default: null
              updateDate:
                type: Date
                default: new Date()
      tags:
        - Iteration
      responses:
        201:
          description: Iteration data
          schema:
            type: object
            items:
              $ref: '#/definitions/Iteration'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Iterations
      description: |
        This endpoint updates existing iteration data
      parameters:
        - name: apiKey
          in: header
          description: Unique API key generated for the consumer of this API
          required: true
          type: string
          format: string
        - name: iteration
          in: body
          description: JSON body of the iteration data to be updated
          required: true
          schema:
            type: object
            required:
              - _id
            properties:
              createDate:
                type: Date
                required: [true, 'Creation date is required.']
              createdByUserId:
                type: String
                required: [true, 'UserId of creator is required.']
              createdBy:
                type: String
                required: [true, 'Name of creator is required.']
              startDate:
                type: Date
                required: [true, 'Start date of Iteration is required.']
              endDate:
                type: Date
                required: [true, 'End date of Iteration is required.']
                validate: [validateDate, 'End date must be >= start date']
              name:
                type: String
                required: [true, 'Name of Iteration is required.']
              teamId:
                type: Schema.Types.ObjectId
                required: [true, 'TeamId of Iteration is required.']
              memberCount:
                type: Number
              cycleTimeInBacklog:
                type: Number
                default: null
              cycleTimeWIP:
                type: Number
                default: null
              defectsEndBal:
                type: Number
                min: [0, 'Closing balance defects must be a number']
                default: null
              defectsClosed:
                type: Number
                default: null
              defects:
                type: Number
                default: null
              defectsStartBal:
                type: Number
                default: null
              memberChanged:
                type: Boolean
                default: false
              comment:
                type: String
                default: null
              teamSatisfaction:
                type: Number
                min: [1, 'Team satisfaction should be between 1.0 - 4.0']
                max: [4,'Team satisfaction should be between 1.0 - 4.0']
                default: null
              clientSatisfaction:
                type: Number
                min: [1, 'Client satisfaction should be between 1.0 - 4.0']
                max: [4, 'Client satisfaction should be between 1.0 - 4.0']
                default: null
              deployments:
                type: Number
                default: null
              storyPointsDelivered:
                type: Number
                default: null
              committedStoryPoints:
                type: Number
                default: null
              deliveredStories:
                type: Number
                default: null
              committedStories: 
                type: Number
                default: null
              status:
                type: String
                default: 'Not complete'
              memberFte:
                type: Number
                default: null
              updatedBy:
                type: String
                default: null
              updatedByUserId:
                type: String
                default: null
              updateDate:
                type: Date
                default: new Date()
            example:
              _id: xxxxxxx
              status: xxxxxxx
      tags:
        - Iteration
      responses:
        200:
          description: Iteration data
          schema:
            type: object
            items:
              $ref: '#/definitions/Iteration'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Iterations
      description: |
        This endpoint deletes existing iteration data
      parameters:
        - name: apiKey
          in: header
          description: Unique API key generated for the consumer of this API
          required: true
          type: string
          format: string
        - name: iterationId
          in: query
          description: Unique identifier for the iteration
          required: true
          type: string
          format: string
      tags:
        - Iteration
      responses:
        200:
          description: Iteration data
          schema:
            type: object
            items:
              $ref: '#/definitions/Iteration'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Team:
    type: object
    properties:
      _id:
        type: string
        description: Unique database objectid
      teamId:
        type: string
        description: Unique database identifier from Cloudant
      name:
        type: string
        description: Name of the team
  Iteration:
    type: object
    properties:
      _id:
        type: string
        description: Unique database objectid
      createDate:
        type: Date
        required: [true, 'Creation date is required.']
        description: record create daytime   date format 2016-01-04T00:00:00.000Z
      createdByUserId:
        type: String
        required: [true, 'UserId of creator is required.']
        desciprtion: record create user id (cnum = serial + 3 digit personal system code)
      createdBy:
        type: String
        required: [true, 'Name of creator is required.']
        description: record create user email
      startDate:
        type: Date
        required: [true, 'Start date of Iteration is required.']
        description: iteration start date - date format 2016-01-04T00:00:00.000Z
      endDate:
        type: Date
        required: [true, 'End date of Iteration is required.']
        validate: [validateDate, 'End date must be >= start date']
        description: iteration end date date format 2016-01-04T00:00:00.000Z
      name:
        type: String
        required: [true, 'Name of Iteration is required.']
        description: iteration name
      teamId:
        type: Schema.Types.ObjectId
        required: [true, 'TeamId of Iteration is required.']
        description: iteration parent team id
      memberCount:
        type: Number
        description: number of team member in this iteration
      cycleTimeInBacklog:
        type: Number
        default: null
        description: average days of iteration storys from backlog to planning 
      cycleTimeWIP:
        type: Number
        default: null
        description: average days of iteration storys from planning to delivery
      defectsEndBal:
        type: Number
        min: [0, 'Closing balance defects must be a number']
        default: null
        description: number of defect by end of iteration
      defectsClosed:
        type: Number
        default: null
        description: number of defect closed by this iteration
      defects:
        type: Number
        default: null
        description: number of defect carry over by last iteration 
      defectsStartBal:
        type: Number
        default: null
        description: number of opening defect by the start of this iteration
      memberChanged:
        type: Boolean
        default: false
        description: has team dynamic on member changed?
      comment:
        type: String
        default: null
        description: iteration note
      teamSatisfaction:
        type: Number
        min: [1, 'Team satisfaction should be between 1.0 - 4.0']
        max: [4,'Team satisfaction should be between 1.0 - 4.0']
        default: null
        description: team satisfaction - value from 1.0 - 4.0
      clientSatisfaction:
        type: Number
        min: [1, 'Client satisfaction should be between 1.0 - 4.0']
        max: [4, 'Client satisfaction should be between 1.0 - 4.0']
        default: null
        description: client satisfaction - value from 1.0 - 4.0
      deployments:
        type: Number
        default: null
        description: number of deployment in this iteration
      storyPointsDelivered:
        type: Number
        default: null
        description: number of story point delivered in this iteration
      committedStoryPoints:
        type: Number
        default: null
        description: number of committed story point in this iteration
      deliveredStories:
        type: Number
        default: null
        description: number of story delivered in this iteration
      committedStories: 
        type: Number
        default: null
        description: number of committed story in this iteration
      status:
        type: String
        default: 'Not complete'
        description: record status (deleted is soft delete)
      memberFte:
        type: Number
        default: null
        description: number of story delivered by FTE
      updatedBy:
        type: String
        default: null
        description: update user email id
      updatedByUserId:
        type: String
        default: null
        description: update users id (cnum - serial number + 3 digit personal system code)
      updateDate:
        type: Date
        default: new Date()
        description: update date date format 2016-01-04T00:00:00.000Z
  Error:
    type: object
    properties:
      message:
        type: string
